@use 'vars';
@use 'fonts';

body{
    font-family: 'Inter';
    font-weight: 400;
    background-color: vars.$bgColor;
}

.container{
    max-width: 1780px;
    padding: 0 20px;
    margin: 0 auto;
}